.container_menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_menu-bar > ul{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.container_menu-bar > ul > li{
  margin-right: 20px;
  list-style: none;
  margin: 0 20px;
}

.blog-header > a{
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.blog-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.blog-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.social-title {
  margin-right: 15px;
  font-size: 18px;
  color: #ffffff;
  line-height: 1;
  display: flex;
  align-items: center;
}

.social-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links li {
  margin-right: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s;
  display: block;
}

.icon:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}
