<div class="container_contents">
  <div class="contents_header">
    <h1 class="title">{{contentTitle}}</h1>
  </div>

  <div class="contents_cover">
    <img src="{{photoCover}}" alt="">
    <p>Fonte: Fiat</p>
  </div>

  <div class="contents_description" [innerHTML]="contentDescription"></div>
</div>


<!--
<div class="container_contents">
  <div class="contents_cover">
    <img src="{{photoCover}}" alt="">
  </div>
  <div class="contents_title">
    <h1>{{contentTitle}}</h1>
    <hr />
  </div>
  <div class="contents_description">
    <p>{{contentDescription}}</p>
  </div>
</div>
-->
